<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Chickens</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
	<h1>Chickens</h1>
	<img src="{{ url_for('static', filename='chicken.jpg') }}" alt='two chickens'>
	<h2>About chickens</h2>
	<p>Chickens, scientifically known as Gallus gallus domesticus, are domesticated birds commonly found worldwide. They belong to the family Phasianidae and the order Galliformes. Chickens typically weigh between 1.5 kg and 3.5 kg and have a lifespan of 5 to 10 years.

Chickens are omnivores, eating seeds, insects, and small animals. They exhibit foraging behavior, scratching the ground to find food. Social animals, chickens establish a hierarchy known as the "pecking order" within their groups, determining access to food and nesting sites.

Hens lay eggs, which can hatch into chicks after about 21 days of incubation if fertilized. Some breeds are highly productive, laying up to 300 eggs per year. Chickens have been domesticated for thousands of years, primarily for their meat and eggs, and are crucial to agriculture as a significant protein source. Additionally, chickens are sometimes kept as pets, valued for their companionship and entertainment.</p>
</body>
</html>