<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Pandas</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
	<h1>All about pandas</h1>
	<p>Pandas, also known as giant pandas, are iconic mammals native to China. Their scientific name is Ailuropoda melanoleuca. These distinctive black-and-white bears are known for their unique appearance and bamboo diet. Despite being classified as carnivores, pandas primarily consume bamboo, making up more than 99% of their diet. They can eat up to 38 kilograms of bamboo daily. Pandas are typically found in the mountainous regions of Sichuan, Shaanxi, and Gansu provinces. They have a solitary lifestyle and communicate through vocalizations and scent markings. Due to habitat loss and low birth rates, pandas are considered vulnerable, with significant conservation efforts in place to protect their population.</p>
	<img src="{{ url_for('static', filename='panda.jpg') }}" alt='panda playing'>
</body>
</html>